<div id="timelineContent" *ngIf="experienceInfo.length > 0">
    <h2 class="heading">Experience</h2>

    <ul class="timeline shadow-large">
        <div class="experience-block">
            <li class="event" *ngFor="let exp of experienceInfo" data-date="">
                <div *ngIf="exp.endDate; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock><span>{{exp.startDate}} - {{exp.endDate}}</span></ng-template>
                <ng-template #elseBlock><span>{{exp.startDate}} - Now</span></ng-template>
                <h3>{{exp.name}}</h3>
                <h4>{{exp.jobTitle}}</h4>
                <p>{{exp.description.description}}</p>
                <ul>
                    <li *ngFor="let task of exp.description.tasks">
                        {{task}}
                    </li>
                </ul>
            </li>
        </div>
    </ul>
</div>
<!-- End #experience -->

<div id="education" *ngIf="educationInfo.length > 0">
    <h2 class="heading">Education</h2>
    <div class="education-block shadow-large" *ngFor="let edu of educationInfo" data-date="">
        <div *ngIf="edu.endDate; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><span>{{edu.startDate}} - {{edu.endDate}}</span></ng-template>
        <ng-template #elseBlock><span>{{edu.startDate}} - Now</span></ng-template>
        <h3>{{edu.name}}</h3>
        <h4>{{edu.jobTitle}}</h4>
        <p>
            {{edu.description.description}}
        </p>
    </div>
    <!-- End .education-block -->
</div>
<!-- End #education -->

<!-- skills -->
<div id="skills" *ngIf="skillsInfo.length > 0">
    <h2 class="heading">Skills</h2>
    <ul>
        <li class="shadow-large" *ngFor="let skill of skillsInfo">
            {{ skill.text }}
        </li>
    </ul>
</div>