# Jetbrains configuration
.idea
*.iml

# VSCode configuration
.vscode

# configs
conf

# build output directory
build
tools/build

# monitoring data dir 
data/monitoring

#blockchain data
nexusdata

#storage for files
filestorage

# test data
*.dat