[submodule "edu/uni"]
	path = edu/uni
	url = ../uni
[submodule "projects/BackendServices"]
	path = projects/BackendServices
	url = ../BackendServices
[submodule "projects/MobileApps"]
	path = projects/MobileApps
	url = ../MobileApps
[submodule "projects/JavaFXApps"]
	path = projects/JavaFXApps
	url = ../JavaFXApps
[submodule "libs/module-base"]
	path = libs/module-base
	url = ../module-base
[submodule "libs/module-deployment"]
	path = libs/module-deployment
	url = ../module-deployment
[submodule "docs/infrastructure"]
	path = docs/infrastructure
	url = ../infrastructure
[submodule "projects/infrastructure-raspberrypi"]
	path = projects/infrastructure-raspberrypi
	url = git@pi:infrastructure-raspberrypi
