<div id="projects">
        <div class="container">
            <h2 class="heading">Professional</h2>
            <div class="c0144 c0156 c0157">
                
                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'gujian']">
                        <img src="assets/images/projects/professional/gujian/logo_512x512.jpg" />
                        <div class="project-info">
                            <h3>Swords of Legends Online</h3>
                            <p>
                                MMORPG
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->

                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'soulworkeranimelegends']">
                        <img src="assets/images/projects/professional/soulworker/logo-soulworkeranimelegends.png" />
                        <div class="project-info">
                            <h3>Soulworker Anime Legends</h3>
                            <p>
                                MMORPG
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->

                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'kingdomunderfire2']">
                        <img src="assets/images/projects/professional/kuf2/logo-kuf2.jpg" />
                        <div class="project-info">
                            <h3>Kingdom Under Fire 2</h3>
                            <p>
                                RTS / MMORPG
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->
    
                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'guardiansofember']">
                        <img src="assets/images/projects/professional/guardiansofember/logo_256x256.jpg" />
                        <div class="project-info">
                            <h3>Guardians of Ember</h3>
                            <p>
                                MMORPG
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->
    
                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'battlehordes']">
                        <img src="assets/images/projects/professional/battlehordes/logo_256x256.jpg" />
                        <div class="project-info">
                            <h3>Battle Hordes</h3>
                            <p>
                                Strategy MMO
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->
    
                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'lordsandknights']">
                        <img src="assets/images/projects/professional/lordsandknights/logo_256x256.jpg" />
                        <div class="project-info">
                            <h3>Lords & Knights</h3>
                            <p>
                                Strategy MMO
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->
    
                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'bigfarm']">
                        <img src="assets/images/projects/professional/bigfarm/logo_256x256.jpg" />
                        <div class="project-info">
                            <h3>Goodgame BigFarm</h3>
                            <p>
                                    Simulation
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->
    
                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'empirefourkingdoms']">
                        <img src="assets/images/projects/professional/empirefourkingdoms/logo_256x256.jpg" />
                        <div class="project-info">
                            <h3>Empire: Four Kingdoms</h3>
                            <p>
                                Strategy MMO
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->
    
                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'empire']">
                        <img src="assets/images/projects/professional/empire/logo.jpg" />
                        <div class="project-info">
                            <h3>Goodgame Empire</h3>
                            <p>
                                Strategy MMO
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->
            </div>
    
            <br><br>
            <h2 class="heading">Private</h2>
            <div class="c0144 c0156 c01384">
    
                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'snakefx']">
                        <img src="assets/images/projects/private/logo-snakefx.png" />
                        <div class="project-info">
                            <h3>SnakeFX</h3>
                            <p>
                                Snake game
                            </p>
                        </div>
                        <!-- End .project-info --> 
                    </div>
                </div>
                <!-- End .project -->
    
                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'homebackend']">
                        <img src="assets/images/projects/private/logo-homebackend.png" />
                        <div class="project-info">
                            <h3>Home Automation</h3>
                            <p>
                                Raspberry Pi
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->
    
                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'sha1pass']">
                        <img src="assets/images/projects/private/logo-sha1pass.png" />
                        <div class="project-info">
                            <h3>SHA1Pass</h3>
                            <p>
                                Password generator
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->
    
                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'filelistcreator']">
                        <img src="assets/images/projects/private/logo-filelistcreator.png" />
                        <div class="project-info">
                            <h3>FilelistCreator</h3>
                            <p>
                                Filelist generator
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->
    
                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'botmanager']">
                        <img src="assets/images/projects/private/logo-botmanager.png" />
                        <div class="project-info">
                            <h3>Web Bot</h3>
                            <p>
                                Browser automation
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->
    
                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'assistant']">
                        <img src="assets/images/projects/private/logo-assistant.png" />
                        <div class="project-info">
                            <h3>Assistant</h3>
                            <p>
                                Android App
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->
    
                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'reddit']">
                        <img src="assets/images/projects/private/logo-reddit.png" />
                        <div class="project-info">
                            <h3>RedditIsFun (Fork)</h3>
                            <p>
                                Android App
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->
    
                <div class="c01159 shadow-large">
                    <div class="c01160 c01105" [routerLink]="['/projects', 'university']">
                        <img src="assets/images/projects/private/logo-unihh.png" />
                        <div class="project-info">
                            <h3>University Hamburg</h3>
                            <p>
                                Assignment collection
                            </p>
                        </div>
                        <!-- End .project-info -->
                    </div>
                </div>
                <!-- End .project -->
    
            </div>
        </div>
    </div>