<div id="projects">
    <div class="container">
        <div class="row">

            <div class="home-info shadow-large">
                <h3>Hi, I'm Rickie!</h3>
                <p>
                    I am a passionate software developer with multiple years experience working in the video game industry. 
                    I have worked on multiple PC and Mobile games (both free-to-play and buy-to-play) through all stages of development.
                </p>
                <p style="padding-top: 15px;">
                    Throughout my career I have always shown a high level of initiative and commitment towards the different projects
                    and worked hard to achieve the best possible results.
                </p>

                <br><br>
                <h5>Feel free to check out some of the projects I have been involved in</h5>
                <slideshow #slideshow
                    [imageUrls]="imageUrls"
                    [height]="height"
                    [minHeight]="minHeight"
                    [arrowSize]="arrowSize"
                    [showArrows]="showArrows"
                    [disableSwiping]="disableSwiping"
                    [autoPlay]="autoPlay"
                    [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
                    [debug]="debug"
                    [backgroundSize]="backgroundSize"
                    [backgroundPosition]="backgroundPosition"
                    [backgroundRepeat]="backgroundRepeat"
                    [showDots]="showDots"
                    [dotColor]="dotColor"
                    [showCaptions]="showCaptions"
                    [captionColor]="captionColor"
                    [captionBackground]="captionBackground"
                    [lazyLoad]="lazyLoad"
                    [hideOnNoSlides]="hideOnNoSlides"
                    [fullscreen]="fullscreen">
                </slideshow>

                <br><br>
                <button routerLink="/contact" class="btn btn-info">Contact me</button>

            </div>
            <!-- End .home-info -->

        </div>
    </div>
</div>


