<div id="projects">
    <div class="container">
        <div class="row">

            <div class="home-info shadow-large">
                <h3>Hi, I'm Rickie!</h3>
                <p>
                    I am a passionate software developer with multiple years experience working in the video game industry and 
                    I have worked on multiple PC and Mobile games (both free-to-play and buy-to-play) through all stages of development.
                </p>
                <br>
                <h5>Check out some of the projects I have been involved in</h5>
                <div style="margin: auto; width: 50%;">
                    <mat-carousel
                    timings="250ms ease-in"
                    [autoplay]="true"
                    interval="2500"
                    proportion=66
                    [loop]="true"
                    [useKeyboard]="true"
                    >
                        <mat-carousel-slide
                        *ngFor="let slide of slides; let i = index"
                        [image]="slide.image"
                        overlayColor="#00000040"
                        [hideOverlay]="true"
                        ></mat-carousel-slide>
                    </mat-carousel>
                </div>


                <br><br>
                <button routerLink="/contact" class="btn btn-info" style="padding: 15px 32px;">Contact me</button>
                <br><br>

            </div>
            <!-- End .home-info -->

        </div>
    </div>
</div>


