<div id="projects" class="background-alt">
        <div class="row">

            <div class="centerDiv">
                <div class="card-content-left">
                    <img class="card-img-top" src="assets/{{project.projectImage}}" alt="image">
                </div>
                <div class="card-content-right">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <br>
                    <div class="tile_div">
                        <a *ngIf="project.projectUrl != null" href="{{project.projectUrl}}" class="btn btn-info" target="_blank">Visit</a>
                        <a *ngIf="project.downloadUrl != null" href="{{project.downloadUrl}}" class="btn btn-info">Download</a>
                    </div>
                </div>
            </div>
            <!-- End .project -->

            <div id="education">
                <div class="education-block">
                    <span class="education-date">{{ project.projectDuration}}</span>
                    <h3>{{ project.company }}</h3><br><br>
                        <p *ngIf="project.function != null">Role: {{ project.function }}</p><br>
                        <h5>{{ project.text }}</h5>
                        <ul style="margin-left: 20px;">
                            <li *ngFor="let task of project.tasks">
                                {{ task }}
                            </li>
                        </ul>
                        <br><br>
                        <div *ngIf="project.trailerUrl != null">
                            <iframe width="1280" height="720" [src]="project.trailerUrl | safe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <mat-carousel
                        timings="250ms ease-in"
                        [autoplay]="true"
                        interval="2500"
                        proportion=70
                        [loop]="true"
                        [useKeyboard]="true"
                        >
                            <mat-carousel-slide
                            *ngFor="let slide of imageUrls; let i = index"
                            [image]="slide.image"
                            overlayColor="#00000040"
                            [hideOverlay]="false"
                            ></mat-carousel-slide>
                    </mat-carousel>
                    </div>
                <!-- End .education-block -->
            </div>
            <!-- End #education -->
        </div>
        
</div>

<div class="row-back">
        <a class="btn btn-info" [routerLink]="['/projects']">Back</a>
</div>

