<div id="content" *ngIf="experienceInfo.length > 0">
    <h2 class="heading">Experience</h2>

    <ul class="timeline">
        <li class="event" *ngFor="let exp of experienceInfo" data-date="December 2018 – NOW">
            <h3>{{exp.name}}</h3>
            <h4>{{exp.jobTitle}}</h4>
            <p>asd {{exp.description.description}}</p>
            <ul>
                <li *ngFor="let task of exp.description.tasks">
                    {{task}}
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- End #experience -->

<div id="education" *ngIf="educationInfo.length > 0">
    <h2 class="heading">Education</h2>
    <div class="education-block">
        <h3>University of Hamburg</h3>
        <span class="education-date">August 2015 - February 2016</span>
        <h4>Computer Science</h4>
        <p>
            Attended computer science classes for one semester
        </p>
    </div>
    <!-- End .education-block -->

    <div class="education-block">
        <h3>Berufliche Schule Elmshorn</h3>
        <span class="education-date">August 2011 - June 2012</span>
        <h4>Berufsoberschule (Field of studies - Economics)</h4>
        <p>
            General qualification for university entrance
        </p>
    </div>
    <!-- End .education-block -->

    <div class="education-block">
        <h3>Berufliche Schule Elmshorn</h3>
        <span class="education-date">August 2009 - June 2011</span>
        <h4>Berufsfachschule (Field of studies - Foreign languages)</h4>
        <p>
            University of applied sciences entrance qualification
        </p>
    </div>
    <!-- End .education-block -->

</div>
<!-- End #education -->

<!-- skills -->
<div id="education" *ngIf="skillsInfo.length > 0">
    <div id="skills">
        <h2 class="heading">Skills</h2>
        <ul>
            <li *ngFor="let skill of skillsInfo">
                {{ skill.text }}
            </li>
        </ul>
    </div>
</div>