@import '../mixin';
$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$body-bg:#002650;
$sidebar-bg:#001d3f;
$sidebar-fonts-color:#fff;
$card-bg:#171824;
$card-border:transparent;
$white:#fff;
$black:#000;
$border-color:#12121f;
$table-border-color:#12121f;
$fonts-color:#fff;
$primary:#319bff;
$success:#04ad53;
$danger:#ff184a;
$warning:#ff7300;
$info:#1e65ff;
body {
    background: $body-bg;
}

.bg-default {
    @include linear-gradient(to top right, lighten($card-bg, 3%), lighten($card-bg, 8%));
}

.bg-primary {
}

.bg-success {
}

.bg-danger {
}

.bg-warning {
}

.bg-info {
}