<div class="card">
  <div class="profile-wrap animated fadeIn">
    <div class="info-wrap">
      <div class="avatar-wrap">
        <img src="{{avatarImage}}" alt="avatar">
      </div>
      <span class="user-name">{{contactInfo.name}}</span>
      <span class="user-post">{{role}}</span>
      <span class="map-location">
        <span>{{location}}</span>
      </span>
    </div>
    <div class="profile-head">
      <img src="{{avatarImage}}" alt="profile-head-bg" class="profile-head-bg">
    </div>
    <div class="profile-foot">
      <br><p align="center">If you would like to meet me in person or have any other questions, feel free to contact me!</p><br>
      <table style="margin: 0 auto;">
          <tr>
              <td><input class="inputCopy" type="text" value={{contactInfo.email}} id="myInput" onclick="copy()" readonly></td>
              <td><button title="Copy" class="btn btn-info" onclick="copy()"><i class="fa fa-clipboard" aria-hidden="true"></i></button></td>
          </tr>
      </table>
      <br><br>

      <h4>Social</h4>
      <ul class="contact-way-item">
        <li class="contact-way-list">
          <a href="https://www.xing.com/profile/Rickie_Karp" target="_blank" class="info-icon fa fa-xing"></a>
        </li>
        <li class="contact-way-list">
          <a href="https://www.linkedin.com/in/rickiekarp/" target="_blank" class="info-icon fa fa-linkedin"></a>
        </li>
        <li class="contact-way-list">
            <a href="https://twitter.com/rickiekarp" target="_blank" class="info-icon fa fa-twitter"></a>
        </li>
      </ul>
      <br>
      <h4>Portfolio</h4>
      <ul class="contact-way-item">
        <li class="contact-way-list">
          <a href="https://git.rickiekarp.net" target="_blank" class="info-icon fa fa-git-square"></a>
        </li>
        <li class="contact-way-list">
          <a href="https://github.com/rickieka" target="_blank" class="info-icon fa fa-github"></a>
        </li>
        <li class="contact-way-list">
          <a href="https://gitlab.com/rickie.karp" target="_blank" class="info-icon fa fa-gitlab"></a>
        </li>
      </ul>

      <ul class="contact-way-item">
        <li class="contact-way-list">
          <a href="https://jenkins.rickiekarp.net" target="_blank" class="info-icon fa fa-wrench"></a>
        </li>
        <li class="contact-way-list">
          <a href="https://cloud.rickiekarp.net" target="_blank" class="info-icon fa fa-cloud"></a>
        </li>
        <li class="contact-way-list">
          <a href="https://ocis.rickiekarp.net" target="_blank" class="info-icon fa fa-server"></a>
        </li>
      </ul>
  </div>
</div>
