@import '../../../../../../mixins.scss';

:host {
  padding: 20px;
  background: transparent;
}

.menu-wrapper {
  @include elevation();
  background: white;

  &:focus {
    outline: none;
  }
}

.button-default {
    display: inline-block;
    padding: 5px 25px;
    color: #bbb;
    border: 0px solid transparent;
    background: transparent;
    height: 59px;
    &:hover {
      color: #fff;
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
}

.menu-item {
  display: block;
  background: #111111;
  color: white;
  padding: 16px;
  border: none;
  min-width: 150px;
  width: 100%;
  border-radius: 0;

  &:focus {
    outline: none;
    background: darken(#001d3f, 8%);
  }
  &:hover {
    background:darken(#001d3f, 8%);
    cursor: pointer;
  }
}