<div id="education">
    <div class="education-block">
        <h3>Contact information</h3><br><br>

        <table>
            <tr>
                <td>Name</td>
                <td>Rickie Karp</td>
                <td></td>
            </tr>
            <tr>
                <td>E-Mail</td>
                <td><input class="inputCopy" type="text" value="contact@rickiekarp.net" id="myInput" readonly></td>
                <td><button class="btn btn-primary" onclick="copy()"><i class="fa fa-clipboard" aria-hidden="true"></i></button></td>
            </tr>
        </table>

        <br><br><p align="center">If you would like to meet me in person or have any other questions, feel free to contact me!</p><br>

    </div>
</div>