<div id="projects">
    <h2 class="heading">Android</h2>

    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/images/android-logo.png" width="300" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3></h3>
                    <p>
                        Work in progress
                    </p>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->

        </div>
    </div>
</div>