<h1>Rickie Karp</h1>

<div class="section-wrap section-flavors">
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Professional</label>


  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Personal</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Résumé</label>

  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">Contact</label>

  <section id="content1" class="background-alt">


  </section>

  <section id="content2" class="background-alt">


  </section>

  <section id="content3" class="background-alt">


  </section>

  <section id="content4" class="background-alt">



  </section>

</div>