<div style="background: #111111; margin: 0 auto; padding: 50px 55px 0px 55px;">
    <h1>Hi {{currentUser.username}}!</h1>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}}
            - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
        </li>
    </ul>
    
    <h3>Inline Edit Example</h3>
    <app-edit-example></app-edit-example>
</div>

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2021
    <a href="https://rickiekarp.net/"> rickiekarp.net</a>
</div>
<!-- Copyright -->