<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="collapse-menu" (click)="sidebarToggle()" *ngIf="router.url.includes('/pages')">
        <i class="fa fa-dedent fa-fw" *ngIf="isSidebarToggle"></i>
        <i class="fa fa-indent fa-fw" *ngIf="!isSidebarToggle"></i>
    </div>
    <div class="container">
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="professional"><label>Professional</label></a></li>
            <li class="nav-item"><a class="nav-link" routerLink="personal"><label>Personal</label></a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about"><label>Résumé</label></a></li>
            <li class="nav-item"><a class="nav-link" routerLink="contact"><label>Contact</label></a></li>
        </ul>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <div class="navbar-nav" *ngIf="currentUser; else loggedOut">
                <li class="nav-item"><a class="nav-link" routerLink="pages/index"><label>Dashboard</label></a></li>
                <li><app-profile-popover></app-profile-popover></li>
            </div>
            <ng-template #loggedOut>
                <li class="nav-item"><a class="nav-link" routerLink="login"><label>Login</label></a></li>
            </ng-template>
        </ul>
    </div>
</nav>

<!-- main app container -->
<router-outlet></router-outlet>